/* INICIO FOOTER */
footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footers p a img:hover {
    width: 3vw;
  }
  
  footer p img {
    width: 2.5vw;
  }
  
  footer p {
    font-size: 2.5vw;
    text-align: center;
  }
  
  .footer__enlace {
    color: blue;
  }
  
  .footer__enlace:hover {
    color: red;
    text-transform: uppercase;
  }
  
  .footer__contacto p a img:hover {
    background-color: violet;
    border-radius: 25px;
    border: solid black 0.1rem;
  }
  
  .footer__contacto p img {
    width: 5vw;
  }
  
  @media screen and (max-width: 520px) {
    footer p {
      font-size: 4vw;
    }
  }
  /* FINAL FOOTER */